* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-haft {
    width: 50%;
}

.col-third {
    width: calc(100% / 3);
}

.clear {
    clear: both;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

html {
    font-family: arial, sans-serif;
    scroll-behavior: smooth;
}

#main {
    
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color:#000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#header .search-but {
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 0 16px;
}

#header .search-but:hover {
    background-color: #f44336;
    cursor: pointer;
}

#nav .nav-arrow {
    font-size: 12px;
}

#nav > li {
    position: relative;
    display: inline-block;

}

#nav li{
    line-height: 46px;
    list-style: none;
}

#nav > li > a {
    color:aliceblue;
    text-transform: uppercase;
}

#nav li a {
    padding: 0 12px;
    text-decoration: none;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    top:100%;
    left: 0;
    background-color: #fff;
}

#nav .subnav a {
    display: block ;
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}


#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /*use % sẽ căn theo chiều ngang*/
    background: url(../img/Slider/Slider1.jfif) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    
}


#content {

}

#content .content-section {
    padding: 64px 16px 112px;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    margin-top: 15px;
    font-style: italic;
    text-align: center;
}

#content .about {
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 32px;
}


#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    height: 220px;
    margin-top: 16px;
    border-radius: 4px;
}

/* tour */

.figure-section {
    background-color: #000;
}
.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color:  #757575;
}

.ticket-list .sold-out {
    background-color: red;
    padding: 3px 4px;
    margin-left: 16px;
    color: #fff;
}
.ticket-list .quantity {
    float: right;
    height: 24px;
    width: 24px;
    background-color: black;
    border-radius: 50%;
    text-align: center; 
    line-height: 24px;
    margin-bottom: -3px;
    color: #fff;
}

.figure-list {
    margin-top: 16px;
    padding-bottom: 32px;
}


.figure-img {
    width: 100%;
    height: 340px;
    display: block;
}

.figure-info {
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}
.figure-img:hover {
    opacity: 0.6;
}

.figure-name {
    font-size: 15px;
}

.figure-time {
    margin-top: 15px;
    color: #757575;
}

.figure-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.figure-buy-but {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    margin-top: 15px;
    display: inline-block;
    border: none;
    text-align: center;

}
.figure-buy-but:hover {
    color: #000;
    background-color: #ccc;
}

/* contact  */

.contact-section {
    margin-top: 48px;
}

.contact-info {
    line-height: 1.4;
    font-size: 18px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    opacity: 0.8;
}
.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}
.contact-form .contact-submit-but {
    border: none;
    background-color: #000;
    color: #fff;
    float:right;
    padding: 10px 16px;
}

.lost-christmas img {
    width: 100%;
}

#footer {
    text-align: center;
    padding: 48px 0;
    
}

#footer .social-internet {
    font-size: 24px;
}

#footer .social-internet a {
    color: black;
    text-decoration: none;
}
#footer .copywriter {
    padding-top: 16px;
    font-size: 15px;
}

#footer .copywriter a{
    color: rgb(42, 42, 233);
}
#footer .copywriter a:hover,
#footer .social-internet a:hover {
    opacity: 0.6;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100%-32px);
    animation: smoothMotion .5s;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
}

.modal-close:hover {
    background-color: rgb(255, 58, 58);
    color: rgb(32, 30, 30);
}

.modal-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: rgb(44, 230, 243);
    height: 130px;
    color:#fff;
}
.modal-heading-icon {
    margin-right: 16px;
    
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    padding: 16px;
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 24px;
}

.modal-but {
    display: block;
    border: none;
    width: 100%;
    background-color: rgb(44, 230, 243);
    font-size: 15px;
    color: #fff;
    padding: 18px;
    cursor: pointer;
}

.modal-but:hover {
    opacity: 0.7;
}

.modal-footer {
    padding: 32px;
    text-align: right;
}

.modal-footer a {
    color: blue;
}

.modal.open {
    display: flex;
}

@keyframes smoothMotion {
    from {
        opacity: 0;
        transform: translateY(-140px)
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* mobile  */
#header .nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 0 16px;
    display: none;
}
#header .nav-menu:hover {
    background-color: #ccc ;
    color: #000;
}

@media (max-width:63.9375em) {
    .figure-buy-but {
        padding: 16px 32px;
    }
    .contact-form .form-control {
        padding:  16px 12px;
    }
    .contact-form .contact-submit-but {
        padding: 16px;
    }
    #footer .social-internet {
        font-size: 32px;
    }
    #footer .social-internet a {
        margin: 0 8px;
    }
    #footer .copywriter {
        display: inline-block;
    }
    #footer .copywriter a {
        padding: 16px 8px;
    }
}

@media (min-width:46.25em) and (max-width:64em) {
    .contact-info {
        line-height: 2;
    }
    .contact-form .contact-submit-but {
        padding: 16px 32px;
    }
}

@media (max-width:46.1875em) {
    .s-full-width,
    .s-col-full {
        width: 100%;
    }
    
    .s-mt-8 {
        margin-top: 8px;
    }

    #header {
    overflow: hidden;
    }

    #header .nav-menu {
        display:block;
    }

    #header .search-but {
        display: none;
    }

    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 4px 41px;
    }
    #slider .text-content {
        bottom: 16px;
    }
    #slider .text-description {
        margin-top: 12px;
    }

    #content .member-img {
        width: 50%;
        margin-bottom: 8px;
    }
    .contact-info {
        line-height: 1.8;
    }

    .contact-form {
        margin-top: 32px;
    }
    .figure-list {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .s-figure {
        width: 80%;
    }

}